.profile-screen {
  background: #0b0b0b;
  color: white;
  text-align: center;
  height: 100vh;
  padding-top: 100px;

  .profile-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .profiles {
    display: flex;
    justify-content: center;
    gap: 40px;

    .profile {
      cursor: pointer;
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img, i {
        width: 130px;
        height: 130px;
        border-radius: 10px;
        background-color: #333;
      }

      p {
        margin-top: 12px;
        font-size: 1.2rem;
      }
    }

    .add-profile {
      background: transparent;
      color: #ccc;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: #444;
      }
    }
  }

  .manage-btn {
    margin-top: 40px;
    background: transparent;
    border: 1px solid #777;
    padding: 10px 20px;
    color: #ccc;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      background: #222;
    }
  }
}
.add-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  text-decoration: none;
  cursor: pointer;

  .addProfileIcon {
    font-family: 'nf-icon', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;

    width: 10vw;
    height: 10vw;
    min-width: 84px;
    min-height: 84px;
    max-width: 200px;
    max-height: 200px;

    &::before {
      content: "\e716"; // Unicode for the Netflix "plus"
    }
  }
.addProfileIcon::before {
  content: "+";
  font-family: inherit;
  font-size: 4rem;
}

  .profile-name {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #aaa;
  }
}


.avatar {
  // width: 120px;
  // height: 120px;
  // border-radius: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.letter-avatar {
      width: 130px;
    height: 130px;
    border-radius: 10%;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
