.rating-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  top: -45px;
      box-shadow: 1px rgba(14, 13, 13, 0.3);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.rating-text {
  position: absolute;
  inset: 0;
  background-color: #1627273b;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  sup {
    font-size: 9px;
    margin-left: 1px;
    vertical-align: super;
  }
}
