::ng-deep app-newsletter-subscribe form {
  .form-control {
    background-color: transparent;
    border: 2px solid #444;
    color: #fdfdfd !important;
    border-radius: 2.375rem;
    width: 70% !important;
    font-size: 12px;
    padding: 0.75rem 1.2rem;

    &::placeholder {
      font-size: 10px;
      color: #c7bfbf;
      border-color: #db0000;
      box-shadow: none;
    }

    &:focus {
      background-color: #6c64648a !important;
      color: #040404;
      border-color: #373636;
      box-shadow: none;
    }
  }

  .btn {
    margin-top: 0.5rem;
    width: 70% !important;
    padding: 0.75rem 1.2rem;
    border-radius: 1.375rem;
    background-color: #db0000;
    color: #fff;
    border: none;

    &:hover {
      background-color: #c30000;
    }
  }
}
