<!-- Components/home/home.component.html -->
<ng-container *ngIf="!isKidsLayout">
  <app-slider></app-slider>
</ng-container>


<ngx-spinner bdColor="rgba(0, 0, 0, 0)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: rgb(186, 60, 60)">Loading...</p>
</ngx-spinner>
<ng-container>
  <!-- Cinematic Quote Section -->
  <div *ngIf="isKidsLayout && quote; else defaultQuote" class="cinema-quote text-center my-6">
    <blockquote class="kidsfont fw-bold">{{ quote }}</blockquote>
  </div>

  <ng-template #defaultQuote>
    <section class="cinema-quote text-center my-6">
      <blockquote>
        “Cinema is a matter of what’s in the frame and what’s out.”
      </blockquote>
      <cite>– Martin Scorsese</cite>
    </section>
  </ng-template>


  <div class=" mt-5 px-4 my-2">

    <!-- Slider with Arrows Movies -->
    <!-- <section id="movie-section" class=" mb-5 slider-container position-relative">
      <button class="arrow left" (click)="scrollLeft()">
        <i class="fa fa-chevron-left"></i>
      </button>

      <div #movieSlider class="slider d-flex overflow-auto">
        <div *ngFor="let item of trendingMovies" class="movie-card">
          <div class="poster position-relative overflow-hidden">
            <img class="w-100" [src]="'https://image.tmdb.org/t/p/original/' + item?.poster_path"
              [alt]="item.original_title">
            <div class="layer">
              <a class="bg-transparent" [routerLink]="'/details/movie/' + item.id">
                <i class="fa text-dark fa-3x fa-play-circle" aria-hidden="true"></i>
              </a>
              <p class="text-dark font-weight-bolder">See more!</p>
            </div>
          </div>
          <app-hover-preview
    *ngIf="hoveredItem === item"
    [item]="item"
    [mediaType]="'movie'">
  </app-hover-preview>
          <h5 class="text-center mt-2">{{ item.original_title }}</h5>
        </div>
      </div>


      <button class="arrow right" (click)="scrollRight()">
        <i class="fa fa-chevron-right"></i>
      </button>
    </section> -->

      <section id="movie-section" class="mb-5 slider-container position-relative">
        <button class="arrow left" (click)="scrollLeft()">
          <i class="fa fa-chevron-left"></i>
        </button>
      
        <div #movieSlider class="slider d-flex overflow-auto position-relative">
      
          <div *ngFor="let item of trendingMovies" class="movie-card">
            <div class="poster position-relative overflow-hidden">
      
              <img class="w-100" [src]="'https://image.tmdb.org/t/p/original/' + item?.poster_path"
                [alt]="item.original_title" />
      
              <!-- HOVER ONLY ON SEE MORE -->
              <div class="layer">
                <a class="bg-transparent" (click)="openPreview($event, item, 'movie')">
      
                  <i class="fa text-dark fa-3x fa-play-circle"></i>
                  <p class="text-dark font-weight-bolder">See more!</p>
                </a>
              </div>
      
      
            </div>
      
            <h5 class="text-center mt-2">{{ item.original_title }}</h5>
          </div>
      
      
      
      
        </div>
      
        <div class="preview-backdrop" *ngIf="showPreviewOverlay" (click)="closePreview()"></div>
      
        <app-hover-preview *ngIf="showPreviewOverlay" [item]="selectedPreview" [mediaType]="hoveredType"
          [position]="previewPosition" (close)="closePreview()">
        </app-hover-preview>
      
        <button class="arrow right" (click)="scrollRight()">
          <i class="fa fa-chevron-right"></i>
        </button>
      
      </section>




    <!-- More to Explore -->
    <section class="more-to-explore mt-5">
      <div class=" container">
        <h3 class="section-title mt-5">More to CineWorld</h3>
        <div class="Border w-25"></div>
    
        <div class="row">
          <div *ngFor="let section of moreToExplore" class="col-md-4 mb-4">
            <div class="editor-card p-3  rounded shadow-sm h-100">
              <h4 class="editor-title mb-3">{{ section.title }}</h4>
    
              <div class="d-flex flex-wrap gap-3 justify-content-start">
                <!-- <div *ngFor="let movie of section.posters | slice:0:3" class="poster-box"
                      (click)="goToDetails(movie, section.type, $event)">
                      <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" [alt]="movie.title || movie.name"
                        class="img-fluid rounded" />
                    </div> -->
    
    
               <div
  *ngFor="let movie of section.posters | slice:0:3"
  class="poster-box"
  (mouseenter)="onMoreHover($event, movie, section.type)"
  (mouseleave)="clearMoreHover()"
  (click)="goToDetails(movie, section.type, $event)"
>

  <img
    [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path"
    [alt]="movie.title || movie.name"
    class="img-fluid rounded"
  />

</div>

    
    
              </div>
              <a [href]="section.link" class="editor-link d-block mt-3 text-primary">
                {{ section.linkText }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-hover-preview *ngIf="moreHoveredItem" 
       [item]="moreHoveredItem" 
       [mediaType]="moreHoveredType"
        [position]="morePreviewPosition" (mouseenter)="onPreviewEnter()" 
        (mouseleave)="onPreviewLeave()"
        (close)="moreHoveredItem = null">
      </app-hover-preview>
    
    
    </section>



<!-- Top 10 TV Shows This Week -->
<section id="tv-section" class="py-5" [class.kids-mode]="isKidsLayout">
  <div class="container">
    <h3 class="section-title">Top TV Shows on IMDb This Week</h3>
    <div class="Border w-25 mb-4"></div>

    <div class="top-ten-wrapper"
         [class.kids-mode]="isKidsLayout"
         (click)="goToPopularTVShows($event)"
         title="See all popular TV shows">

      <div class="scroll-wrapper" #topTenSlider>
        <div class="top-card" *ngFor="let movie of topTenMovies">
          <!--  whole card is a link to /details/tv/:id -->
          <a class="card-link"
             [routerLink]="['/details', 'tv', movie.id]"
             [title]="movie.name"
             (click)="$event.stopPropagation()">
            <div class="card h-100 position-relative">
              <div class="poster-img position-relative rounded"
                   [ngClass]="{ 'overflow-visible': isKidsLayout, 'overflow-hidden': !isKidsLayout }">
                <img
                  [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
                  [alt]="movie.name"
                  class="card-img-top" />
                
                <!--  watchlist menu clickable without navigating -->
                <app-watchlist-action
                  *ngIf="isKidsLayout"
                  [item]="movie"
                  mediaType="tv"
                  [generalTypeOverride]="'anime'"
                  [customLists]="customLists"  
                  (click)="$event.stopPropagation()">
                </app-watchlist-action>
              </div>

              <app-rating-circle [rating]="movie.vote_average"></app-rating-circle>

              <div class="movie-title mt-2 px-1">
                <h5 class="rank me-1">{{ movie.name }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

 
    <app-free-to-watch *ngIf="!isKidsLayout"></app-free-to-watch>

    <app-celebrities *ngIf="!isKidsLayout"></app-celebrities>

    <app-latest-trailers *ngIf="!isKidsLayout"></app-latest-trailers>


  </div>
<!-- MINI PREVIEW OVERLAY -->

</ng-container>