@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@500&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@1,200..1000&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');

.latest-trailers-section {
  .video-card {
    width: 320px;
    border-radius: 12px;
    margin-top: 30px !important;
    overflow: hidden;
    position: relative;
    background-color: #111;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .video-card-img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      filter: brightness(0.85);
      transition: filter 0.3s ease;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: #fff;
      opacity: 0.7;
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    .video-card-overlay {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      width: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
      z-index: 1;
      
    }

    .video-card-title {
      font-size: 0.75rem;
      font-weight: 500;
      color: #f1ead6;
      margin: 0;
      
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

      .video-card-img {
        filter: brightness(1);
      }

      .play-button {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .section-title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 62px 1rem 16px;
    color: #f9bc02;
    text-align: center;
  font-family: "Bebas Neue", sans-serif;
  }

  .tab-btn {
    background: transparent;
    border: none;
    color: #ccc;
    font-weight: 500;
     border: 1px solid #44370d;
    padding: 0.4rem 1.2rem;
    border-radius: 999px;
    background: transparent;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;

    &.active {
      background: linear-gradient(to right, #e1e0c2, #c1a100);
      color: #000;
    }  
  

    &:hover {
      color: #fff;
    }
  }
}
