<div class="search-page px-4 my-2">
<div class="d-flex justify-content-center" *ngIf="found">
    <div class="row" style="max-width: 1140px;">

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
  
  <div class="px-4 my-2">
    <!-- No Resources Found
    <h1 class="font-weight-bolder text-center text-white" *ngIf="!found">No Resources found!</h1> -->
  
    <!-- Results if found -->
    <div class="d-flex justify-content-center" *ngIf="found">
      <div class="row" style="max-width: 1140px;">
        <div *ngFor="let item of allData" class="col-md-2 overflow-hidden mb-4">
          <div class="poster position-relative overflow-hidden">
            <img class="w-100" src="https://image.tmdb.org/t/p/original/{{ item?.poster_path }}" alt="">
  
            <div class="layer">
              <a class="bg-transparent" routerLink="/details/{{ item.media_type }}/{{ item.id }}">
                <i class="fa text-dark fa-3x fa-play-circle" aria-hidden="true"></i>
              </a>
            </div>
  
            <div class="type bg-primary position-absolute p-2">{{ item.media_type }}</div>
          </div>
  
          <h5 class="text-center mt-2">{{ item.name || item.original_title }}</h5>
        </div>
      </div>
    </div>
  </div>
    </div>
    </div>
</div>