@import "~aos/dist/aos.css";

.search-page {
  margin-top: 200px !important;
}

.poster {
  margin: 1rem;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;

  img {
    border-radius: 15px;
    transition: transform 0.4s ease-in-out;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 241, 241, 0.487);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 5;

    p {
      color: #000;
      font-weight: bold;
    }
  }

  &:hover {
    transform: scale(1.05);

    img {
      transform: scale(1.1);
    }

    .layer {
      opacity: 1;
    }
  }

  .type {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #524404d8 !important;
    padding: 5px 5px !important;
    // border-radius: 4px;
    font-size: 0.8rem;
    color: white;
    z-index: 7;
  }
}

h5 {
  font-size: 1rem;
  color: #f5f5f5;
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .poster {
    margin-bottom: 2rem;
  }
}

