<header class="top-header"></header>

<!-- Dust particles background -->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>



<section class="welcome">
  <!-- Content -->
  <div class="welcome__content">
    <div class="welcome__message">
      <h1 class="welcome__title"> CineWorld AWAITS</h1>
      <span class="cinema bounce"></span>
<div class="centered-inline-hero">
  <span class="static-word"> A WORLD FOR</span>
  <div class="dropping-texts-inline">
    <div>Discover.</div>
    <div>Watch.</div>
    <div>Celebrate.</div>
  </div>
</div>



    </div>
    <div class="welcome__nav">
      <a routerLink="/profile" class="welcome__link"></a>
    </div>
  </div>
  <!-- END Content -->
</section>

